<div class="col-sm-12">
  <!-- START panel-->
  <div class="panel panel-default">
    <div class="panel-body">

      <%= form_for([:admin, @player], html: {class: "form-horizontal"}) do |f| %>
      <% if @player.errors.any? %>
        <div class="alert bg-danger-light alert-dismissible fade in">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
          </button>
          <div id="error_explanation">
            <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

            <ul>
              <% @player.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :dni, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :dni, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :nombre, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :firstname, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :apellidos, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :lastname, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :ciudad, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :city, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :provincia, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :province, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :cumpleaños, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.date_select :birthday, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :email, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :teléfono, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.number_field :phone, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">

          <%= f.button "Guardar cambios", {class: "btn btn-lg btn-primary"} %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>