<div class="content-heading">
	Torneo <%= @tournament.name %> - Evento <%= @event.name %>
	<%= link_to 'Volver', event_tournaments_path(@event), { class: "mb-lg btn btn-default btn-lg pull-right" } %>
</div>
<div class="panel panel-default">
      <!-- Nav tabs -->
	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li role="presentation" class="active">
			<a href="#inscriptions" aria-controls="inscriptions" role="tab" data-toggle="tab">Inscripciones</a>
		</li>
		<li role="presentation">
			<a href="#start" aria-controls="start" role="tab" data-toggle="tab">Comenzar Torneo</a>
		</li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="inscriptions">

			<div class="row">
				<%= render 'tournament_details' %>
			</div>

		</div>
		<div role="tabpanel" class="tab-pane" id="start">
			<div class="row">
				<%= render 'show_league_rounds' %>
			</div>
		</div>
	</div>
</div>
