<div class="content-heading">
   Jugadores - <%= @event.name %>
   <%= link_to 'Volver', event_path(@event), { class: "mb-lg btn btn-default btn-lg pull-right" } %>
</div>
<div>
   <div class="panel panel-default">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified mb-xl" role="tablist">
         <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Inscribir</a></li>
         <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Jugadores</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row">
               <%= render 'form' %>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="profile">
            <div class="panel">

            <div class="table-responsive">
               <table class="table table-bordered table-hover">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Ciudad</th>
                        <th>Provincia</th>
                        <th>Edad</th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% @players.each_with_index do |player, index| %>
                     <tr>
                        <td><%= index+1 %></td>
                        <td><%= player[:dni] %></td>
                        <td><%= player.name %></td>
                        <td><%= player[:city] %></td>
                        <td><%= player[:province] %></td>
                        <td><%= player.age %></td>
                        <td><%= link_to 'Mostrar', event_player_path(@event, player), { class: "btn btn-default btn-sm bg-gray-lighter" } %></td>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
            </div>
         </div>
      </div>
   </div>
</div>