<div class="col-sm-12">
  <!-- START panel-->
  <div class="panel panel-default">
    <div class="panel-body">

      <%= form_for(@event, html: {class: "form-horizontal"}) do |f| %>
      <% if @event.errors.any? %>
        <div class="alert bg-danger-light alert-dismissible fade in">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
          </button>
          <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
              <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :name, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :start_date, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :start_date, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :end_date, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :end_date, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :city, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :province, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :province, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">

          <%= f.button "Guardar cambios", {class: "btn btn-lg btn-primary"} %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>