<div class="content-heading">
   Eventos
</div>
<div class="row">
   <div class="col-sm-12">
      <div class="panel">
         <div class="panel-heading"></div>
         <div class="table-responsive">
            <table class="table table-bordered table-hover">
               <thead>
                  <tr>
                     <th>#</th>
                     <th>Nombre</th>
                     <th>Comienza</th>
                     <th>Finaliza</th>
                     <th>Ciudad</th>
                     <th>Provincia</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>

                  <% @events.each_with_index do |event, index| %>
                  <tr>
                     <td><%= index+1 %></td>
                     <td><%= event[:name] %></td>
                     <td><%= beauty_date(event[:start_date]) %></td>
                     <td><%= beauty_date(event[:end_date]) %></td>
                     <td><%= event[:city] %></td>
                     <td><%= event[:province] %></td>
                     <td>
                        <%= link_to 'Mostrar', event_path(event), { class: "btn btn-default btn-sm bg-gray-lighter" } %>
                        <%= link_to '', edit_event_path(event), { class: "btn btn-success btn-sm bg-success-light fa fa-pencil" } %>

                        </td>
                  </tr>
                  <% end %>

               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>



