<div class="content-heading">
	<%= @event.name %>
</div>

<div class="row">
   <div class="col-lg-3 col-md-6">
      <!-- START panel-->
      <div class="panel panel-green">
         <div class="panel-heading">
            <div class="row">
               <div class="col-xs-3">
                  <em class="fa fa-users fa-5x"></em>
               </div>
               <div class="col-xs-9 text-right">
                  <div class="text-lg"><%= @players_count %></div>
                  <p class="m0">New Users!</p>
               </div>
            </div>
         </div>
         <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
         </a>
         <!-- END panel-->
      </div>
   </div>
   <div class="col-lg-3 col-md-6">
      <!-- START panel-->
      <div class="panel panel-green">
         <div class="panel-heading">
            <div class="row">
               <div class="col-xs-3">
                  <em class="fa fa-cubes fa-5x"></em>
               </div>
               <div class="col-xs-9 text-right">
                  <div class="text-lg"><%= @boardgames_count %></div>
                  <p class="m0">Boardgmes!</p>
               </div>
            </div>
         </div>
         <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
         </a>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-3 col-md-6">
      <!-- START panel-->
      <div class="panel panel-green">
         <div class="panel-heading">
            <div class="row">
               <div class="col-xs-3">
                  <em class="fa fa-refresh fa-5x"></em>
               </div>
               <div class="col-xs-9 text-right">
                  <div class="text-lg"><%= @loans_count %></div>
                  <p class="m0">New Loans!</p>
               </div>
            </div>
         </div>
         <a href=<%= event_loans_path(@event) %> class="panel-footer bg-gray-dark bt0 clearfix btn-block">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
         </a>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-3 col-md-6">
      <!-- START panel-->
      <div class="panel panel-green">
         <div class="panel-heading">
            <div class="row">
               <div class="col-xs-3">
                  <em class="fa fa-bullhorn fa-5x"></em>
               </div>
               <div class="col-xs-9 text-right">
                  <div class="text-lg">13</div>
                  <p class="m0">Activities!</p>
               </div>
            </div>
         </div>
         <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
         </a>
      </div>
      <!-- END panel-->
   </div>
</div>

<div class="row">
	<div class="col-lg-6">
		<!-- START widget-->
		<div class="panel panel-default">
		   <div class="panel-body">
		      <div class="text-center">
		         <h3 class="mt0"><%= @event.name %></h3>
		         <p>Event</p>
		      </div>
		      <hr>
		      <ul class="list-unstyled ph-xl">
		         <li>
		            <em class="fa fa-home fa-fw mr-lg"></em><%= @event.city + "(" + @event.province + ")" %>
		         </li>
		         
		      </ul>
		   </div>
		   <table class="table bb">
		   <tbody>
		      <tr>
		         <td>
		            <strong>Start date</strong>
		         </td>
		         <td><%= @event.start_date %></td>
		      </tr>
		      <tr>
		         <td>
		            <strong>Start date</strong>
		         </td>
		         <td><%= @event.end_date %></td>
		      </tr>
			</tbody>
			</table>
		</div>
		<!-- END widget-->
	</div>
</div>