<%= form_for(:search, url: event_loans_path, html: { method: 'GET'}) do |f| %>

	<% if @loan.errors.any? %>
		<div class="alert bg-danger-light alert-dismissible fade in">
			<button type="button" data-dismiss="alert" aria-label="Close" class="close">
				<span aria-hidden="true">×</span>
			</button>
			<div id="error_explanation">
				<h2><%= pluralize(@loan.errors.count, "error") %> prohibited this event from being saved:</h2>
				<ul>
					<% @loan.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>

	<div class="col-lg-8 col-lg-offset-2">
		<div class="input-group input-group-lg">      
			<%= f.text_field :keywords, {class: "form-control js-loan-search-input", 
				autofocus: true,
				placeholder: "Introduzca nombre o código del juego", 
				data: { loansearch: "" }} %>  
			<span class="input-group-btn">
				<%= f.button "Buscar", {class: "btn btn-default js-loan-search-button"} %>
			</span>
		</div>
	</div>
<% end %>