<div class="content-heading">
    Préstamos - <%= @event.name %>
    <%= link_to 'Volver', event_path(@event), { class: "mb-lg btn btn-default btn-lg pull-right" } %>
</div>
<div>
    <div class="panel panel-default">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified mb-xl" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Nuevo</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Préstamos</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                    <%= render 'form' %>
                </div>
                <div class="row">
                    <div class="col-log-12">
                        <%= render 'search_results' %>
                    </div>        
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <%= render partial: 'loans_list', locals: { loans: @loans } %>     
            </div>
        </div>
    </div>
</div>