<div class="panel">
   <div class="panel-heading"></div>
   <div class="table-responsive">
      <table class="table table-bordered table-hover">
         <thead>
            <tr>
               <th>#</th>
               <th>DNI</th>
               <th>Nombre</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            <% participants.each_with_index do |participant, index| %>
               <tr>
                  <td><%= index+1 %></td>
                  <td><%= participant.player[:dni] %></td>
                  <td><%= participant.player.name %></td>
                  <td>
                     <%= link_to_unless participant.confirmed?, " Confirmar", 
                     event_tournament_participant_path(@event, @tournament, participant), 
                     { class: "btn btn-default bg-gray-light btn-sm fa fa-user-plus", method: :patch } do

                        link_to " Deshacer", 
                        event_tournament_participant_path(@event, @tournament, participant), 
                        { class: "btn btn-default bg-gray-light btn-sm fa fa-user-times", method: :patch }

                     end %>

                     <%= link_to '', 
                     event_tournament_participant_path(@event, @tournament, participant), 
                     { class: "btn btn-danger bg-danger-light btn-sm fa fa-minus pull-right", method: :delete, 
                        data: { 
                           confirm: "Esto eliminará a #{participant.player.name} del torneo, ¿estás seguro?" } } %>
                  </td>
               </tr>
            <% end %>
         </tbody>
      </table>
   </div>
</div>