<div class="col-lg-4">
	<!-- START widget-->
	<div class="panel widget">
		<div class="panel-body">
			<div class="row row-table text-center">
				<div class="col-xs-4">
					<p>Edad</p>
					<h3 class="m0 text-inherit"><%= min_age(@tournament.minage) %></h3>
				</div>
				<div class="col-xs-4">
					<p>Participantes</p>
					<h3 class="m0 text-inherit"><%= paint_participants(@competitors.count, @tournament.max_competitors) %></h3>
				</div>
				<div class="col-xs-4">
					<p>Reservas</p>
					<h3 class="m0 text-inherit"><%= paint_participants(@substitutes.count, @tournament.max_substitutes) %></h3>
				</div>
			</div>
			<hr>
			<div class="row row-table text-center">
				<div class="col-xs-12">
					<p>Fecha</p>
					<h3 class="m0 text-inherit"><%= beauty_date(@tournament.date) %></h3>
				</div>
			</div>
		</div>			
		<%= img_boardgame(@boardgame, "image") %>
	</div>
	<!-- END widget-->
</div>
<div class="col-lg-8">
	<div class="panel widget">
		<div class="panel-heading text-center">
			<div class="row">
				<%= render 'search_players_form' %>
			</div>
		</div>

		<div class="panel-body text-center">
			<div class="row">
				<h3>Participantes</h3>
				<div class="col-sm-12">
					<%= render partial: 'participants_list', locals: { participants: @competitors } %>     
				</div>
			</div>
			<hr>
			<div class="row">
				<h3>Reservas</h3>
				<div class="col-sm-12">
					<%= render partial: 'participants_list', locals: { participants: @substitutes } %>     
				</div>
			</div>
		</div>
	</div>
</div>