<div class="content-heading">
	<%= @player.name %>
	<%= link_to 'Volver', :back, { class: "mb-lg btn btn-default btn-lg pull-right" } %>
</div>
<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<!-- START widget-->
		<div class="panel panel-default">
		   <div class="panel-body">
		      <div class="text-center">
		         <h3 class="mt0"><%= @player.name %></h3>
		      </div>
		      <hr>
		      <ul class="list-unstyled ph-xl">
		         <li>
		            <em class="fa fa-id-card-o fa-fw mr-lg"></em><%= @player.dni %>
		         </li>
		         <li>
		            <em class="fa fa-map-marker fa-fw mr-lg"></em><%= location(@player.city, @player.province) %>
		         </li>
		         <li>
		            <em class="fa fa-envelope fa-fw mr-lg"></em><%= @player.email %>
		         </li>
		         <li>
		            <em class="fa fa-phone fa-fw mr-lg"></em><%= @player.phone %>
		         </li>
		         <li>
		            <em class="fa fa-birthday-cake fa-fw mr-lg"></em><%= @player.birthday %>
		         </li>
		      </ul>
		   </div>
		</div>
		<!-- END widget-->
	</div>
</div>