<div class="content-heading">
	<%= @player.name %>
</div>
<div class="row">
	<div class="col-lg-6">
		<!-- START widget-->
		<div class="panel panel-default">
		   <div class="panel-body">
		      <div class="text-center">
		         <h3 class="mt0"><%= @player.name %></h3>
		         <p>Event</p>
		      </div>
		      <hr>
		      <ul class="list-unstyled ph-xl">
		         <li>
		            <em class="fa fa-book fa-fw mr-lg"></em><%= @player.dni %>
		         </li>
		         <li>
		            <em class="fa fa-home fa-fw mr-lg"></em><%= @player.city + " (" + @player.province + ")" %>
		         </li>
		         <li>
		            <em class="fa fa-envelope fa-fw mr-lg"></em><%= @player.email %>
		         </li>
		         <li>
		            <em class="fa fa-phone fa-fw mr-lg"></em><%= @player.phone %>
		         </li>
		         <li>
		            <em class="fa fa-birthday-cake fa-fw mr-lg"></em><%= @player.birthday %>
		         </li>
		      </ul>
		   </div>
		</div>
		<!-- END widget-->
	</div>
</div>