<div class="panel">
   <div class="panel-heading"></div>
   <div class="table-responsive">
      <table class="table table-bordered table-hover">
         <thead>
            <tr>
               <th>#</th>
               <th>Portada</th>
               <th>BGG</th>
               <th>Nombre</th>
               <th>Jugadores</th>
               <th>Edad</th>
               <th>Duración</th>
               <th></th>
            </tr>
         </thead>
         <tbody>

            <% boardgames.each_with_index do |boardgame, index| %>
            <tr>
               <td><%= index+1 %></td>
               <td>
                  <div class="media">
                  <img src=<%= "http://#{boardgame[:thumbnail]}" %> alt=<%= "#{boardgame[:name]}"%> class="img-responsive thumb64">
                  </div>
               </td>
               <td><%= boardgame[:bgg_id] %></td>
               <td><%= boardgame[:name] %></td>
               <td><%= players_number(boardgame[:minplayers],boardgame[:minplayers]) %></td>
               <td><%= min_age(boardgame[:minage]) %></td>
               <td><%= boardgame[:playingtime] %></td>
               <td>
                  <% if boardgame.at_event?(@event) %>
                     <%= link_to '', event_del_boardgame_path(@event, boardgame), 
                        { class: "btn btn-danger btn-sm fa fa-minus", method: :patch, 
                           data: { confirm: "¿Estás seguro de eliminar #{boardgame.name} del evento #{@event.name}?" } } %>
                  <% else %>
                     <%= link_to '', event_add_boardgame_path(@event, boardgame), 
                        { class: "btn btn-success btn-sm fa fa-plus", method: :patch, 
                        data: { confirm: "Esto añadirá #{boardgame.name} al evento #{@event.name}" } } %>    
                     <% end %>
                  <%= link_to 'Mostrar', event_boardgame_path(@event, boardgame), 
                     { class: "btn btn-default btn-sm bg-gray-lighter" } %>  
               </td>
            </tr>
            <% end %>

         </tbody>
      </table>
   </div>
</div>