<div class="col-sm-12">
  <!-- START panel-->
  <div class="panel panel-default">
    <div class="panel-body">

      <%= form_for(@boardgame, html: {class: "form-horizontal"}) do |f| %>
      <% if @boardgame.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@boardgame.errors.count, "error") %> prohibited this boardgame from being saved:</h2>

        <ul>
          <% @boardgame.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :name, {class: "form-control"} %>  
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_area :description, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :thumbnail, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :thumbnail, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :image, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :image, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :minplayers, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.number_field :minplayers, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :maxplayers, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.number_field :maxplayers, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :playingtime, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.number_field :playingtime, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <%= f.label :minage, {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.number_field :minage, {class: "form-control"} %>  
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">

          <%= f.button "Guardar cambios", {class: "btn btn-lg btn-primary"} %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>