<!-- START panel-->
<div class="panel">
	<div class="panel-body">
		<%= form_for(:search, url: admin_boardgames_import_from_bgg_path, html: { method: 'GET'}) do |f| %>

			<% if @boardgame.errors.any? %>
				<div class="alert bg-danger-light alert-dismissible fade in">
					<button type="button" data-dismiss="alert" aria-label="Close" class="close">
						<span aria-hidden="true">×</span>
					</button>
					<div id="error_explanation">
						<h2><%= pluralize(@boardgame.errors.count, "error") %> prohibited this boardgame from being saved:</h2>
						<ul>
							<% @boardgame.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				</div>
			<% end %>

			<div class="col-lg-8 col-lg-offset-2">
				<div class="input-group input-group-lg">      
					<%= f.text_field :keywords, {class: "form-control", 
						placeholder: "Introduzca nombre del juego que desea importar de la BGG", 
						} %>  
					<span class="input-group-btn">
						<%= f.button "Buscar", {class: "btn btn-default"} %>
					</span>
				</div>
			</div>
		<% end %>
	</div>
</div>