<div class="content-heading">
   Juegos de mesa
   <%= link_to 'Volver', :back, { class: "mb-lg btn btn-default btn-lg pull-right" } %>
</div>
<div class="row">
   <div class="col-sm-12">
      <div class="panel">
         <div class="panel-heading"></div>
         <div class="table-responsive">
            <table class="table table-bordered table-hover">
               <thead>
                  <tr>
                     <th>#</th>
                     <th>Portada</th>
                     <th>BGG</th>
                     <th>Nombre</th>
                     <th>Jugadores</th>
                     <th>Edad</th>
                     <th>Duración</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>

                  <% @boardgames.each_with_index do |boardgame, index| %>
                  <tr>
                     <td><%= index+1 %></td>
                     <td>
                        <div class="media">
                           <%= img_boardgame(boardgame) %>
                        </div>
                     </td>
                     <td><%= boardgame[:bgg_id] %></td>
                     <td><%= boardgame[:name] %></td>
                     <td><%= players_number(boardgame[:minplayers],boardgame[:maxplayers]) %></td>
                     <td><%= min_age(boardgame[:minage]) %></td>
                     <td><%= boardgame[:playingtime] %></td>
                     <td><%= link_to 'Mostrar', admin_boardgame_path(boardgame), { class: "btn btn-sm bg-gray-lighter" } %>
                        <%= link_to '', edit_admin_boardgame_path(boardgame), { class: "btn btn-success bg-success-light btn-sm fa fa-pencil" } %>
                        <%= link_to '', admin_boardgame_path(boardgame), { method: :delete, class: "btn btn-danger bg-danger-light btn-sm fa fa-trash-o" } %>
                     </td>
                  </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
         <%= render partial: 'pagination_footer', locals: { elements: @boardgames } %>  
      </div>
   </div>
</div>



